<section ng-controller="BeersController as beers" ui-view>
  <h1>Beers I want to give a shot</h1>
  <ul id="beers">
    <li ng-repeat="beer in beers.all">
      <span class="done-{{beer.done}}">
        <input type="checkbox" ng-model="beer.done"><strong>{{beer.name}} | {{beer.abv}}% ABV | {{beer.note}}</strong> <button ng-click="beers.deleteBeer(beer)">pass</button> <button ng-click="beers.fixBeer(beer)">edit</button>
      </span>
    </li>
  </ul>
  <form class="add-beer" ng-submit='beers.addBeer()'>
      <div>
        <label for="new-beer-name">The Beer</label>
        <input type="text" id="new-beer-name" placeholder="Budweiser" ng-model="beers.newBeer.name">
      </div>

      <div>
        <label for="new-beer-abv">ABV%</label>
        <input type="Number" id="new-beer-abv" placeholder="5.0%" ng-model="beers.newBeer.abv">
      </div>

      <div>
        <label for="new-beer-note">Notes</label>
        <input type="text" id="new-beer-note" placeholder="King of Beers" ng-model="beers.newBeer.note">
      </div>

      <div>
        <input type="submit" value="Add Beer" class="button">
      </div>
  </form>
</section>
